.nav {
    width: 100%;
    height: 51px;
    overflow: hidden;
    background-color: rgb(230, 230, 230);
}
.nav-container {
    display: table-cell;
    height: 100%;
    width: 100%;
}

.nav-start {
    float: left;
}
.nav-right {
    float: right;
}

.nav-title {
    padding: 0 30px;
}

.nav li.nav-item {
    display: inline-block;
    list-style-type: none;
    height: 100%;
    padding-left: 3px;
    margin: 0;
    background-color: inherit;
    transition: background-color .2s;
}

.nav li.hover:hover {
    background-color: rgb(197, 0, 0);
    transition: background-color .2s;
}

.nav-title,a {
    color: white;
    transition: color .2s;
}

.nav a {
    padding: 0 10px;
    line-height: 51px;
    vertical-align: center;
    text-decoration: none;
}

.nav a:hover {
    color: white;
    text-decoration: none;
}

.nav .nav-title:hover {
    cursor: pointer;
    color: rgb(197, 0, 0);
    transition: color .2s;
}

/* Search bar */

.nav-search input{
    position: relative;
    vertical-align: top;
    height: 34px;
}

.nav-search {
    padding: 6px 12px;
}

.nav-search button {
    height: 34px;
    border: 2px solid white;
    color: white;
    background: inherit;
    padding: 0 10px;
    border-radius: 4px;
    transition: background-color .2s;
}

.nav-search button:hover {
    background-color: rgb(197, 0, 0);
    transition: background-color .2s;
}

.nav-search input[type=search]{
    border: 0;
    border-radius: 4px;
}