body {
	background-color: #EEE;
	font-family: Futura Md BT, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: red;
}

h1, h2, h3{
	margin: 0;
}

#container{
	
	background-color: white;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#content{
	padding: 50 50 50 50px;
	width: 60% px;
	float: center;
}

table {
    border: 0px solid #CCC;
    border-collapse: collapse;
}

th, td{
	border: none;
	padding: 15px;
	font-size: 20px;
}

th{
	text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#footer{
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}

.navbar {
	overflow: hidden;
	background-color: red;
	position: fixed;
	top: 0; 
	width: 100%; 
}

/* Links inside the navbar */
.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	font-size: 24px;
	padding: 14px 20px;
	text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #8e1600;
}


img{
	height: auto;
	width: 25px;
}

#image{
	float: left;
	padding: 10px 4px 0px 7%;
}
